@{
    ViewData["Title"] = "Home Page";
} 
<div class="panel-heading">
    <h3 class="panel-title"><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a>@ViewData["Title"]</h3>
</div>
<div class="panel-body">
    <div class="content-row">
        <h2 class="content-row-title">Introduce about Blood Bank</h2>
        <div class="row">
            <div class="col-md-12">
                <div>
                    A blood bank is a cache or bank of blood or blood components, gathered as a result of blood donation, stored and preserved for
                    later use in blood transfusion Recent ages in most of the cases there is a need of blood to the injured patients. But friends or
                    relatives or hospital staffs is not having the idea about how many blood banks? Where are they? What type of blood is available,
                    what are the tests conducted on that blood samples? Type of questions is not getting answers immediately. It will take so much of
                    time to search for the required group of the blood. The main objective of the Secured Integration of Online Blood Bank System is
                    to provide information about the blood banks, the type of blood is available, and how much quantity is therein every blood bank
                    will be maintained accordingly. For the Patient angle also the integration of blood banks to the hospital will be very helpful to
                    make the request online to get the blood directly to the hospital. Moreover, who are willing to give the blood can register their
                    names online and later when there is requirement or in the case of campaigns they can donate the blood.
                </div>
                <div class="timeline">
                    <dl>
                        <dt>Apr 2023</dt>
                        <dd class="pos-right clearfix">
                            <div class="circ"></div>
                            <div class="time">Apr 1</div>
                            <div class="events">
                                <div class="pull-left">
                                    <img class="events-object img-rounded" src="~/uploads/image/photo-1.jpg" width="64px" height="64px">
                                </div>
                                <div class="events-body">
                                    <h4 class="events-heading">Blood Bank API</h4>
                                    <p>We use C# to build a blood bank api with functions for users and hospitals. The user will register to donate blood, and the hospital will approve the confirmation</p>
                                </div>
                            </div>
                        </dd>
                        <dd class="pos-left clearfix">
                            <div class="circ"></div>
                            <div class="time">Apr 10</div>
                            <div class="events">
                                <div class="pull-left">
                                    <img class="events-object img-rounded" src="~/uploads/image/photo-2.jpg" width="64px" height="64px">
                                </div>
                                <div class="events-body">
                                    <h4 class="events-heading">Blood Bank Admin Website</h4>
                                    <p>We use C# to build a blood bank website with functions for users and hospitals. The user will register to donate blood, and the hospital will approve the confirmation</p>
                                </div>
                            </div>
                        </dd>
                        <dt>Jun 2023</dt>
                        <dd class="pos-right clearfix">
                            <div class="circ"></div>
                            <div class="time">Mar 15</div>
                            <div class="events">
                                <div class="pull-left">
                                    <img class="events-object img-rounded" src="~/uploads/image/photo-3.jpg" width="64px" height="64px">
                                </div>
                                <div class="events-body">
                                    <h4 class="events-heading">Blood Bank App</h4>
                                    <p>We use flutter to build a blood bank app with functions for users and hospitals. The user will register to donate blood, and the hospital will approve the confirmation</p>
                                </div>
                            </div>
                        </dd>

                    </dl>
                </div>
                <div>
                    <p class="text-right">By : Châu Du</p>
                </div>
            </div>
        </div>
    </div>
</div>
