<div class="panel-body">
<div class="content-row">
    <h3>Home</h3>
        <h3>Hot <span class="glyphicon glyphicon-fire"></span></h3>
        <div class="row content-row-popover">
        <div class="col-md-8">
            <div class="jumbotron">
                <div id="carousel-content-row-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-content-row-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-content-row-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-content-row-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-content-row-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-content-row-generic" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner" id="event">
                            
                    </div>
                    <a class="left carousel-control" href="#carousel-content-row-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-content-row-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
                <div class="popover right">
                    <div class="arrow"></div>
                    <h1 class="popover-title">Event</h1>
                    <div class="popover-content">
                        The extremely important event has attracted the attention of the community, helping to create motivation, confidence and excitement for tens of thousands of blood donors; promote voluntary blood donation throughout the country. With that spirit, from the beginning of 2020 until now, the whole country has mobilized to receive over 1.2 million blood units, basically meeting enough blood for emergency and patient treatment in localities.
                    </div>
                </div>
        </div>
    </div>
    <div class="row content-row-popover">
            <div class="col-md-4">
                <div class="popover left">
                    <div class="arrow"></div>
                    <h1 class="popover-title">Charity</h1>
                    <div class="popover-content">
                        Receive and manage sponsored and aided assets as authorized from domestic and foreign organizations and individuals in accordance with the law to carry out activities under the authorization contract in accordance with the following principles: purposes of the Fund and the provisions of law.
                    </div>
                    <img class="center-block" src="/uploads/image/qr.jpg" width="130px" height="130 px">
                    <br /><br />
                </div>
            </div>
            <div class="col-md-8">
                <div class="row" id="charity">
                </div>
            </div>
    </div>
        <div class="content-row">
            <h2 class="content-row-title">Blog</h2>
            <div class="row" id="blog">
                </div>
        </div>
</div>
</div>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script>
    const main = async () => {
        var url = '/api/event';
        var reponse = await fetch(url);
        var data = await reponse.json();
        renderSlide0(data.data, data.total);
    }
    const main2 = async () => {
        var url = '/api/blog';
        var reponse = await fetch(url);
        var data = await reponse.json();
        renderSlide2(data.data, data.total);
    }
    const renderSlide2 = (data, count) => {
        var domSlide = document.querySelector("#blog");
        var html = '';
        var j = count - 4;
        if (count < 4) j = 0;
        for (let i = count - 1; i >= j; i--) {
            html += `
                           <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                        <img class="img-rounded" src="${data[i].image.url}" style="height:150px;">
                                <div class="caption text-center">
                                                    <h4>${data[i].title}</h4>
                                                    <p>${data[i].description}</p>
                                </div>
                            </div>
                        </div>
                            `;
        }
        domSlide.innerHTML = html;
    }
    const renderSlide0 = (data, count) => {
        var domSlide = document.querySelector("#event");
        var html = '';
        var j = count - 4;
        if (count < 4) j = 0;
        for (let i = count - 1; i >= j; i--) {
            var st = moment(data[i].startTime).format('DD/MM/YYYY');
            var et = moment(data[i].endTime).format('DD/MM/YYYY');
            if (i==count-1)
                html += `
                     <div class="item active">`;
            else html += `
                     <div class="item">`;
            html += `
                                <img  src="${data[i].image.url}" style="height:300px;">
                                <div class="row">
                                          <div class="col-md-6"> <p class="caption text-center"><b>${data[i].eventName}</b></p></div>
                                            <div class="col-md-6"><p class="text-right">${st} - ${et}   .</p></div>
                                        </div>
                               </div>
                            `;
        }
        console.log(html);
        domSlide.innerHTML = html;
    }
    const main1 = async () => {
        var url = '/api/charity';
        var reponse = await fetch(url);
        var data = await reponse.json();
        renderSlide1(data.data, data.total);
    }
    const renderSlide1 = (data, count) => {
        var domSlide = document.querySelector("#charity");
        var html = '';
        var j = count - 2;
        if (count<=1) j=0;
        for (let i = count - 1; i >= j; i--) {
            html += `
                     <div class="col-md-6"">
                          <div class="thumbnail">
                             <img class="img-rounded" src="${data[i].image.url}" style="height:250px;" >
                            <div class="caption text-center">
                              <h4>${data[i].name}</h4>
                              <p>${data[i].situation}</p>
                            </div>
                          </div>
                        </div>
                                `;
        }
        console.log(html);
        domSlide.innerHTML = html;
    }

    main();
    main1();
    main2();
</script>
<style>
    h4{
        display: -webkit-box;
        height: 1.6rem;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 1;
        line-height: 1.6rem;
    }

    p{
        display: -webkit-box;
        height: 3.2rem;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal; 
        -webkit-line-clamp: 2;
        line-height: 1.6rem;
    }
</style>