
@{
    ViewData["Title"] = "Privacy Policy";
} 
<div class="panel-heading">
    <h3 class="panel-title"><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a>@ViewData["Title"]</h3>
</div>
<div class="panel-body">
    <div class="content-row">
        <h2 class="content-row-title">Privacy about Blood Bank</h2>
        <div class="row">
            <div class="col-md-12">
                 <div>
                    <h4>You must have a account admin to manage this web. Please contact 09433557474 (Châu Du) to have a account !</h4>
                </div
                <div>
                    <img src="~/uploads/image/banner.jpg" height="400px" width="100%"/>
                </div>
               >
                <div>
                    <p>The fact is that internet privacy has always mattered, whether it’s 2010 or 2023. The only difference between the decade is that online threats and data breaches have escalated 10 times. That’s not a good number nor a great time to be heading online without security measures.</p>
                    <p>Internet privacy is becoming a growing concern these days for people of all ages. Companies track your behavior across websites to serve you with highly relevant advertisements, making it essential for you to have an encrypted online connection—experience supreme encryption with PureVPN.</p>
                    <p>On this Privacy Awareness Week, PureVPN is informing readers about the steps they can take to improve their online privacy and protect their personal data. PureVPN continues to make positive contributions to cyberspace by developing tools and making internet users more aware of the modern threats and dangers.</p>
                </div>
            </div>
        </div>
    </div>
</div>
