<div class="panel-body">
    <div class="content-row">
        <h3>Introduction</h3>
        <div class="docs-article docs--start" id="download">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        A blood bank is a cache or bank of blood or blood components, gathered as a result of blood donation, stored and preserved for
                        later use in blood transfusion Recent ages in most of the cases there is a need of blood to the injured patients. But friends or
                        relatives or hospital staffs is not having the idea about how many blood banks? Where are they? What type of blood is available,
                        what are the tests conducted on that blood samples? Type of questions is not getting answers immediately. It will take so much of
                        time to search for the required group of the blood. The main objective of the Secured Integration of Online Blood Bank System is
                        to provide information about the blood banks, the type of blood is available, and how much quantity is therein every blood bank
                        will be maintained accordingly. For the Patient angle also the integration of blood banks to the hospital will be very helpful to
                        make the request online to get the blood directly to the hospital. Moreover, who are willing to give the blood can register their
                        names online and later when there is requirement or in the case of campaigns they can donate the blood.
                    </p>
                </div>
                <div class="col-md-4"><img class="events-object img-rounded" src="~/uploads/image/1297136.png" width="80%"></div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="docs-article docs--start" id="Install">
                        <h3>Target</h3>
                        <ul class="item__infos">
                            <li>Register to donate blood</li>
                            <li>News</li>
                            <li>Map</li>
                            <li>Charity</li>
                            <li>...</li>
                        </ul>
                    </div>

                    <!-- What's included
                    ================================================== -->
                    <div class="docs-article docs--start" id="included">
                        <h3>History</h3>
                        <div class="timeline">
                            <dl>
                                <dt>Apr 2023</dt>
                                <dd class="pos-right clearfix">
                                    <div class="circ"></div>
                                    <div class="time">Apr 1</div>
                                    <div class="events">
                                        <div class="pull-left">
                                            <img class="events-object img-rounded" src="~/uploads/image/photo-1.jpg" width="64px" height="64px">
                                        </div>
                                        <div class="events-body">
                                            <h4 class="events-heading">Blood Bank API</h4>
                                            <p>We use C# to build a blood bank api with functions for users and hospitals. The user will register to donate blood, and the hospital will approve the confirmation</p>
                                        </div>
                                    </div>
                                </dd>
                                <dd class="pos-left clearfix">
                                    <div class="circ"></div>
                                    <div class="time">Apr 10</div>
                                    <div class="events">
                                        <div class="pull-left">
                                            <img class="events-object img-rounded" src="~/uploads/image/photo-2.jpg" width="64px" height="64px">
                                        </div>
                                        <div class="events-body">
                                            <h4 class="events-heading">Blood Bank Admin Website</h4>
                                            <p>We use C# to build a blood bank website with functions for users and hospitals. The user will register to donate blood, and the hospital will approve the confirmation</p>
                                        </div>
                                    </div>
                                </dd>
                                <dt>Jun 2023</dt>
                                <dd class="pos-right clearfix">
                                    <div class="circ"></div>
                                    <div class="time">Mar 15</div>
                                    <div class="events">
                                        <div class="pull-left">
                                            <img class="events-object img-rounded" src="~/uploads/image/photo-3.jpg" width="64px" height="64px">
                                        </div>
                                        <div class="events-body">
                                            <h4 class="events-heading">Blood Bank App</h4>
                                            <p>We use flutter to build a blood bank app with functions for users and hospitals. The user will register to donate blood, and the hospital will approve the confirmation</p>
                                        </div>
                                    </div>
                                </dd>

                            </dl>
                        </div>
                    </div>
                    <!-- CSS/SASS
                    ================================================== -->

                    <div class="docs-article docs--start" id="download">
                        <h3>Contact</h3>
                        <p>You can send email to <code>chaudu301@gmail.com</code> or phone <code>0943-357-474</code></p>
                    </div>
                    <div class="docs-article docs--start" id="download">
                        <h3>Charity</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="/uploads/image/myqr.jpg" width="90%">
                            </div>
                            <div class="col-md-6">
                                <p>
                                    It's easy to think that 'charity' means 'raising money to help someone'. To be fair, that's what many charities spend a lot of their time doing. However, fundraising and charity don't mean the same thing at all. Charity means kindness, generosity and consideration. In Christianity, it specifically refers to the sort of unconditional love that Christians call 'Agape'. This sacrificial, selfless sort of 'Christian' love is the love that God has for everyone, and that he showed when he sent his son to die for our sins, Christians believe.
                                </p>
                                <p>

                                    Unselfish love should lead to kind actions, and it is this sort of 'doing good deeds' that people associate with charity. Many charities in the UK were initially started by Christians, but the gospel message is for love to all people, so the work done is rarely focussed particularly on Christians, and often many non-Christians get involved and become part of the charity.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Color Picker
                ================================================== -->

                <div class="docs-article docs--start" id="licensing">
                    <h3>Credits</h3>
                    <p>Code by <a href="https://github.com/chauuduu">Châu Du</a></p>
                </div>
                <!-- Licensing
                ================================================== -->

            </div>


        </div>
    </div>
</div>