
    <div class="panel panel-default">
        <div class="panel-heading">
		<h3 class="panel-title"><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a>Treasury</h3>
        </div>
        <div class="panel-body">
            <div class="content-row">
                <h2 class="content-row-title">Treasury</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">App's Account Bank</h3>
                            </div>
                            <div class="panel-body">
                                <img src="/uploads/image/myqr.jpg"  width="300px" height="330px">
                            </div>
                        </div>
                       @* <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Total</h3>
                            </div>
                            <div class="panel-body">
                                <p>50.000.000 đ</p>
                                <p>+ 350.000.000 đ</p>
                                <p>- 300.000.000 đ</p>
                            </div>
                        </div>*@


                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">Charity for</div>
                            <div class="demo-container">
                                <div id="data-grid-demo">
                                    <div id="gridContainer"></div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>

        </div><!-- panel body -->

	<script>
		$(function () {
			function getParameterByName(name, url) {
				if (!url) url = window.location.href;
				name = name.replace(/[\[\]]/g, '\\$&');
				var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
					results = regex.exec(url);
				if (!results) return null;
				if (!results[2]) return '';
				return decodeURIComponent(results[2].replace(/\+/g, ' '));
			}
			var url = window.location.href;
			var status = getParameterByName('status', url);
			window.history.pushState(null, null, "treasury");
			if (status == 1)
				DevExpress.ui.notify('Success', 'success', 2000);
			jQuery.fn.load = function (callback) {
				var el = $(this);
				el.on('load', callback);
				return el;
			};
			const itemsShow = [
				{
					caption: "#",
					width: 40,
					cellTemplate: function (cellElement, cellInfo) {
						var index = dataGrid.pageIndex() * dataGrid.pageSize() + cellInfo.rowIndex + 1;
						cellElement.text(index);
					},
					formItem: {
						visible: false
					}
				},
				{
					dataField: "id",
					visible: false
				},
				{
					dataField: "createdAt",
					visible: false
				},
				{
					dataField: "updatedAt",
					visible: false
				},
				{
					dataField: "content",
					visible: false
				},
				{
					dataField: "name",
					caption: "Name",
					validationRules: [
						{
							type: "required",
							message: "Name is required"
						}
					]
				},
				{
					dataField: "situation",
					caption: "Situation",
					validationRules: [
						{
							type: "required",
							message: "Situation is required"
						}
					]
				},
				{
					dataField: "money",
					caption: "Money",
					format: ",##0,###",
					selectedFilterOperation: "=",
				},
			]

			var datasource = [];
			var dataGrid = $("#gridContainer").dxDataGrid({
				filterRow: { visible: true },
				dataSource: {
					store: new DevExpress.data.CustomStore({
						loadMode: "raw",
						load: function () {
							return $.getJSON("/api/Charity/money").then((rs) => {
								return rs.data
							})
						},
						update: function (key, values) {
						}

					})
				},
				keyExpr: "id",
				showBorders: true,
				paging: {
					pageSize: 10
				},
				searchPanel: {
					visible: false
				},
				pager: {
					showPageSizeSelector: true,
					allowedPageSizes: [10,15],
					showInfo: true
				},
				columns: itemsShow,
				summary: {
					  totalItems: [  
				      {
						column: 'money',
						summaryType: 'sum',
					  }],
					valueFormat:",##0,###",
				},
			}).dxDataGrid("instance");
		});
	</script>
