@{
	ViewData["Title"] = "Dashboard";
} 

<div class="panel-heading">
    <h3 class="panel-title"><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a>@ViewData["Title"]</h3>
</div>
<div class="panel-body">
    <div class="content-row">
        <h2 class="content-row-title">@ViewData["Title"] Management</h2>
        <form id="date-form">
            <label for="from-date">From:</label>
            <input type="date" id="from-date" name="from-date">

            <label for="to-date">To:</label>
            <input type="date" id="to-date" name="to-date">

            <button type="submit">Submit</button>
        </form>
        <div class="dx-viewport">
            <div class="demo-container">
                <div id="chart1"></div>
                <div id="chart2"></div>
                <div id="chart3"></div>
            </div>
        </div>
    </div>
</div>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const fromDate = urlParams.get('from-date');
    const toDate = urlParams.get('to-date');
    document.getElementById("from-date").value =fromDate;
    document.getElementById("to-date").value =toDate;
    var urladd='';
    if (fromDate != null && toDate!= null) urladd = '?fromDate='+fromDate.toString()+'&toDate='+toDate.toString();
    else if (fromDate != null && toDate == null) urladd = '?fromDate=' + fromDate.toString();
    else if (fromDate == null && toDate != null) urladd = '?toDate=' + toDate.toString();
    else urladd='';
    var urlBlood = '/api/Chart/Blood' + urladd;
    var urlDate = '/api/Chart/Date' + urladd;
    var urlHospital = '/api/Chart/Hospital' + urladd;
    console.log(urlBlood);
    $.ajax({
        url: urlBlood,
        type: 'GET',
        success: function (data) {
            var dataSource = [];
            for (var i = 0; i < data.length; i++) {
                var item = {
                    bloodGroup: data[i].bloodGroup,
                    count: data[i].count,
                    totalMl: data[i].totalMl
                };

                dataSource.push(item);
            }

            $('#chart1').dxChart({
                dataSource: dataSource,
                series: [{
                    argumentField: 'bloodGroup',
                    valueField: 'totalMl',
                    name: 'Total ml',
                    type: 'bar',
                    color: '#ffaa66',
                }, {
                    argumentField: 'bloodGroup',
                    valueField: 'count',
                    name: 'Register Count',
                     type: 'scatter',
                    symbol: 'circle',
                    color: '#000000',
                }],
                legend: {
                    visible: true
                },
                title: 'Blood Chart (TotalMl, Count)',
                tooltip: {
                    enabled: true,
                    customizeTooltip: function (arg) {
                        return { text: arg.valueText};
                    }
                }
            });
        },
        error: function (err) {
            console.log(err);
        }
    });
    $.ajax({
        url: urlDate,
        type: 'GET',
        success: function (data) {
            var dataSource = [];

            for (var i = 0; i < data.length; i++) {
                var item = {
                    date: moment(data[i].date).format('DD/MM/YYYY'),
                    count: data[i].count,
                    totalMl: data[i].totalMl
                };

                dataSource.push(item);
            }

            $('#chart2').dxChart({
                dataSource: dataSource,
                series: [{
                    argumentField: 'date',
                    valueField: 'totalMl',
                    name: 'Total ml',
                    type: 'bar',
                    color: '#79154c',
                }, {
                    argumentField: 'date',
                    valueField: 'count',
                    name: 'Count',
                    type: 'scatter',
                    symbol: 'circle',
                    color: '#000000',
                }],
                legend: {
                    visible: true
                },
                title: 'Date Chart (TotalMl, Count)',
                tooltip: {
                    enabled: true,
                    customizeTooltip: function (arg) {
                        return { text: arg.valueText };
                    }
                }
            });
        },
        error: function (err) {
            console.log(err);
        }
    });
    $.ajax({
        url: urlHospital,
        type: 'GET',
        success: function (data) {
            var dataSource = [];

            for (var i = 0; i < data.length; i++) {
                var item = {
                    hospital: data[i].hospital,
                    count: data[i].count,
                    totalMl: data[i].totalMl
                };

                dataSource.push(item);
            }

            $('#chart3').dxChart({
                dataSource: dataSource,
                series: [{
                    argumentField: 'hospital',
                    valueField: 'totalMl',
                    name: 'Total ml',
                    type: 'bar',
                    color: '#2596be',
                }, {
                    argumentField: 'hospital',
                    valueField: 'count',
                    name: 'Count',
                    type: 'scatter',
                    symbol: 'circle',
                    color: '#000000',
                }],
                legend: {
                    visible: true
                },
                title: 'Hospital Chart (TotalMl, Count)',
                tooltip: {
                    enabled: true,
                    customizeTooltip: function (arg) {
                        return { text: arg.valueText };
                    }
                }
            });
        },
        error: function (err) {
            console.log(err);
        }
    });
</script>
