@model LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="~/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>
    <div class="content-wrapper">
        <div class="content">
            <div class="signup-wrapper shadow-box">
                <div class="company-details ">
                    <div class="shadow"></div>
                    <div class="wrapper-1">
                        <h1 class="title">blood bank co.</h1>
                        <div class="slogan">Donate blood, donate life!</div>
                    </div>

                </div>
                <div class="signup-form">
                    <div class="wrapper-2">
                        <div class="form-title">Sign in today!</div>
                        <div class="form">
                            <form role="form" method="post" action="/Auth/Login">
                                <p class="content-item">
                                    <label>
                                        username 
                                        <input type="text" class="form-control" name="username" id="username" required>
                                    </label>
                                </p>

                                <p class="content-item">

                                    <label>
                                        password
                                        <input type="password" class="form-control" name="password" id="password" required>
                                    </label>
                                </p>
                                <p class="text-danger text-center">@ViewBag.Message</p>
                                <button type="submit" class="signup">Sign in</button>
                                <a href="/auth/register" class="login">Create an account ?</a>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>

