@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Register";
}


<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-8 col-sm-12 flex-column">
            <form method="post" action="/Auth/Register" class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" required />

                <label for="fullname">FullName</label>
                <input type="text" name="fullname" id="fullname" pattern="^(\w\w+)\s(\w+)$" class="form-control" required />

                <label for="password">Password</label>
                <input type="password" name="password" id="password" minlength="8" class="form-control" required />

                <label for="username">Birthday</label>
                <input type="date" name="birthday" id="birthday" class="form-control" required />

                <p class="text-warning">@ViewData["Message"]</p>
                <button class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>