@model LoginViewModel
@{
    ViewData["Title"] = "Register";
} 
    <link rel="stylesheet" href="~/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <div class="content-wrapper">
        <div class="content">
            <div class="signup-wrapper shadow-box">
                <div class="company-details ">

                    <div class="shadow"></div>
                    <div class="wrapper-1">
                        <h1 class="title">blood bank co.</h1>
                        <div class="slogan">Donate blood, donate life!</div>
                    </div>

                </div>
                <div class="signup-form">
                    <div class="wrapper-2">
                        <div class="form-title">Sign up today!</div>
                        <div class="form">
                            <form method="post" action="/auth/register">
                                <p class="content-item">
                                    <label>
                                        username *
                                        <input type="text" class="form-control" name="username" id="username" required>
                                    </label>
                                </p>
                                <p class="content-item">
                                    <label>
                                        fullname *
                                        <input type="text" class="form-control" name="fullname" id="fullname" required>
                                    </label>
                                </p>

                                <p class="content-item">
                                    <label>
                                        password *
                                        <input type="password" class="form-control" name="password" id="password" required>
                                    </label>
                                </p>

                                <p class="content-item">
                                    <label>
                                        confirmPassword *
                                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required>
                                    </label>
                                </p>
                                 <p class="content-item"> 
                                    <label>
                                        Email *
                                        <input type="text" class="form-control" name="email" id="email" required>
                                    </label>
                                </p>
                                 <p class="content-item"> 
                                    <label>
                                        Birthday *
                                        <input type="date" class="form-control" name="birthday" id="birthday" required>
                                    </label>
                                </p>
                                <p class="content-item">
                                    <label>
                                        Address 
                                        <input type="text" class="form-control" name="address" id="address">
                                    </label>
                                </p>
                                <p class="text-danger text-center">@ViewData["Message"]</p>
                                <button type="submit" class="signup">Sign up</button><br />
                                <a href="/auth" class="login">Already have an account?</a>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

