@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Register";
}
<div class="container col-lg-2 d-flex justify-content-center">
            <form method="post" action="/Auth/Register">
                <h3 class="text-dark text-center">@ViewData["Title"]</h3>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" required />

                <label for="fullname">FullName</label>
                <input type="text" name="fullname" id="fullname" pattern="^(\w\w+)\s(\w+)$" class="form-control" required />

                <label for="password">Password</label>
                <input type="password" name="password" id="password" minlength="8" class="form-control" required />

                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" minlength="8" class="form-control" required />

                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" required />

                <label for="birthday">Birthday</label>
                <input type="date" name="birthday" id="birthday" class="form-control" required />

                <label for="address">Address</label>
                <input type="text" name="address" id="address" class="form-control" />

                <p class="text-warning text-center">@ViewData["Message"]</p>
                <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
            </form>
</div>
