@using Domain.Model.Users;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="active"><a href="/swagger">Documentation</a></li>
        <li class="text-dark">......</li>
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">@User.Identity.Name </a>
            <ul role="menu" class="dropdown-menu">
                <li class="dropdown-header">Setting</li>
               <li class="disabled"><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li class="disabled"><a href="#">Change Password</a></li>
                <li class="divider"></li>
                <li class="active"><a href="/Auth/logout">Signout</a></li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" href="/Auth/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/Auth">Login</a>
        </li>
    }
</ul>