@using Domain.Model.Users;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "ADMIN").Result)
{ 
    <nav class="col-xs-6 col-sm-3 sidebar-offcanvas" id="my-navbar" role="navigation">
        <ul class="list-group panel">
            <li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>SIDE PANEL</b></li>
            <li class="list-group-item"><a href="/dashboard"><i class="glyphicon glyphicon-stats"></i>Dashboard </a></li>
            <li class="list-group-item"><a href="/bloodgroup"><i class="glyphicon glyphicon-tint"></i>Blood Group </a></li>
            <li class="list-group-item"><a href="/register"><i class="glyphicon glyphicon-list-alt"></i>Register </a></li>
            <li class="list-group-item"><a href="/hospital"><i class="glyphicon glyphicon-plus-sign"></i>Hospital</a></li>
            <li class="list-group-item"><a href="/user"><i class="glyphicon glyphicon-user"></i>Account</li>

            <li>
                <a href="#demo4" class="list-group-item " data-toggle="collapse"><i class="glyphicon glyphicon-bullhorn"></i>Post  <span class="glyphicon glyphicon-chevron-right"></span></a>
                <li class="collapse" id="demo4">
                    <a href="/event" class="list-group-item"><i class="glyphicon glyphicon-pushpin"></i>Event</a>
                    <a href="/blog" class="list-group-item"><i class="glyphicon glyphicon-list-alt"></i>Blog</a>
                     <a href="/charity" class="list-group-item"><i class="glyphicon glyphicon-gift"></i>Charity</a>
                </li>
            </li>
        </ul>
    </nav>
}
else if (UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "HOSPITAL").Result || UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "STAFF").Result)
{
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
        <ul class="list-group panel">
            <li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>SIDE PANEL</b></li>
            <li class="list-group-item"><a href="/dashboard"><i class="glyphicon glyphicon-stats"></i>Dashboard </a></li>
            <li class="list-group-item"><a href="/register"><i class="glyphicon glyphicon-list-alt"></i>Register </a></li>
            <li class="list-group-item"><a href="/event"><i class="glyphicon glyphicon-pushpin"></i>Event </a></li>
        </ul> 
    </div> 
} 
